@charset "utf-8";

@font-face {font-family:"samsungUtilityIcons";src:url(/common/next/font/samsungUtilityIcons.eot);src:url(/common/next/font/samsungUtilityIcons.eot?#iefix) format("embedded-opentype"),url("//cdn.samsung.com/common/next/font/samsungUtilityIcons.woff") format("woff"),url(/common/next/font/samsungUtilityIcons.ttf) format("truetype"),url(/common/next/font/samsungUtilityIcons.svg#samsung) format("svg");font-weight:normal;font-style:normal }
.iconBase,[class*="icons-"]{font-family:"samsungUtilityIcons";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;direction:ltr}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before{font-family:"samsungUtilityIcons";content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

/* Use the following CSS code if you want to have a class per icon */
/* Instead of a list of all class selectors, you can use the generic selector below, but it's slower: [class*="icons-"] { */
.icons-untitled,.icons-washer_doortype_1,.icons-washer_dimensions_3,.icons-washer_dimensions_2,.icons-washer_dimensions_1,.icons-washer_config_2,.icons-washer_config_1,.icons-washer_capacity_1-01,.icons-washer_waterconsumption_1-01,.icons-washer_ventless_2,.icons-washer_stackable_1,.icons-washer_noise_3,.icons-washer_noise_2,.icons-washer_noise_1,.icons-washer_energyconsumption_3,.icons-washer_energyconsumption_2,.icons-washer_energyconsumption_1,.icons-washer_doortype_2,.icons-vacuum_dustcapacity_3,.icons-vacuum_dustcapacity_2,.icons-vacuum_dustcapacity_1,.icons-vacuum_collectortype_1,.icons-vacuum_brushwidth_3,.icons-vacuum_brushwidth_2,.icons-vacuum_brushwidth_1,.icons-vacuum_type_4,.icons-vacuum_type_3,.icons-vacuum_type_2,.icons-vacuum_type_1,.icons-vacuum_suctionpower_3,.icons-vacuum_suctionpower_2,.icons-vacuum_suctionpower_1,.icons-vacuum_powersource_1,.icons-tv_memory_1-01,.icons-tv_internet_1,.icons-tv_display_pla,.icons-tv_display_led,.icons-tv_display_lcd,.icons-tv_dimensions_3,.icons-tv_dimensions_2,.icons-tv_dimensions_1,.icons-tv_3d_2,.icons-tv_3d_1,.icons-tv_screensize_3,.icons-tv_screensize_2,.icons-tv_screensize_1,.icons-tv_resolution_3,.icons-tv_resolution_2,.icons-tv_resolution_1,.icons-ovens_selfcleaning_1,.icons-ovens_numberofovens_1,.icons-oven_capacity_3,.icons-oven_capacity_2,.icons-oven_capacity_1,.icons-microwave_type_3,.icons-microwave_type_2,.icons-microwave_type_1,.icons-microwave_presets_1,.icons-microwave_power_3,.icons-microwave_power_2,.icons-microwave_power_1,.icons-microwave_dimensions_3,.icons-microwave_dimensions_2,.icons-microwave_dimensions_1,.icons-stoves_width_3,.icons-stoves_width_2,.icons-stoves_width_1,.icons-stoves_type_4,.icons-stoves_type_3,.icons-stoves_type_2,.icons-stoves_type_1,.icons-stoves_numberofburners_3,.icons-stoves_numberofburners_2,.icons-stoves_numberofburners_1,.icons-stoves_fueltype_3,.icons-stoves_fueltype_2,.icons-stoves_fueltype_1,.icons-smartphone_screensize_small,.icons-smartphone_screensize_medium,.icons-smartphone_screensize_large,.icons-numberofcameras_2,.icons-no,.icons-mp3_1,.icons-keyboard_1,.icons-energyefficiencyrating_4,.icons-energyefficiencyrating_3,.icons-energyefficiencyrating_2,.icons-energyefficiencyrating_1,.icons-cellular_1,.icons-batterylife_3,.icons-batterylife_2,.icons-batterylife_1,.icons-yes,.icons-wirelessconnectivity_3,.icons-wirelessconnectivity_2,.icons-wirelessconnectivity_1,.icons-wifi_1,.icons-weight_3,.icons-weight_2,.icons-weight_1,.icons-touchscreen_1,.icons-talktime_3,.icons-talktime_2,.icons-talktime_1,.icons-tablets_screenres_3,.icons-tablets_screenres_2,.icons-tablets_screenres_1,.icons-storage_3,.icons-smartphones_camerares_3,.icons-smartphones_camerares_2,.icons-smartphones_camerares_1,.icons-smartphone_windows,.icons-smartphone_storage_3,.icons-smartphone_storage_2,.icons-smartphone_storage_1,.icons-fridge_icedispenser_1,.icons-fridge_capacity_3,.icons-fridge_capacity_2,.icons-fridge_capacity_1,.icons-dishwasher_capacity_1,.icons-fridge_width_3,.icons-fridge_width_2,.icons-fridge_width_1,.icons-fridge_waterdispenser_1,.icons-fridge_type_4,.icons-fridge_type_3,.icons-fridge_type_2,.icons-fridge_type_1,.icons-printer_dimensions_3,.icons-printer_dimensions_2,.icons-printer_dimensions_1,.icons-printer_3,.icons-printer_2,.icons-printer_1,.icons-all_promotions_1,.icons-wifi_1-2,.icons-printer_resolution_3,.icons-printer_resolution_2,.icons-printer_resolution_1,.icons-printer_papersize_3,.icons-printer_papersize_2,.icons-printer_papersize_1,.icons-he_subwoofer_1,.icons-he_mediatype_3,.icons-he_mediatype_2,.icons-he_mediatype_1,.icons-he_hdmi_1,.icons-he_disccapacity_1,.icons-he_dimensions_3,.icons-he_dimensions_2,.icons-he_dimensions_1,.icons-he_deviceconnection_2,.icons-he_deviceconnection_1,.icons-he_audiochannels_4,.icons-he_audiochannels_3,.icons-he_audiochannels_2,.icons-he_audiochannels_1,.icons-he_audio_3,.icons-he_audio_2,.icons-he_audio_1,.icons-wireless_subwoofer_1,.icons-wireless_streaming_1,.icons-wireless_powerbass_1,.icons-wireless_portable_1,.icons-wireless_dock_2,.icons-wireless_dock_1,.icons-wireless_dimensions_3,.icons-wireless_dimensions_2,.icons-wireless_dimensions_1,.icons-mp3_radio_1,.icons-mp3_playbacktime_3,.icons-mp3_playbacktime_2,.icons-mp3_playbacktime_1,.icons-mp3_camera_1,.icons-he_subwoofer_3,.icons-he_subwoofer_2,.icons-comp_processor_1,.icons-comp_processor_3,.icons-comp_processor_2,.icons-camera_zoom_3,.icons-camera_zoom_2,.icons-camera_zoom_1,.icons-camera_type_3,.icons-camera_type_2,.icons-camera_type_1,.icons-camera_ios_3,.icons-camera_ios_2,.icons-camera_ios_1svg,.icons-camera_imagesensor_3,.icons-camera_imagesensor_2,.icons-camera_imagesensor_1,.icons-camcorder_videoquality_2,.icons-camcorder_videoquality_1,.icons-camcorder_type_4,.icons-camcorder_type_3,.icons-camcorder_type_2,.icons-camcorder_type_1,.icons-camcorder_recordingmedia_4,.icons-camcorder_recordingmedia_3,.icons-camcorder_recordingmedia_2,.icons-camcorder_recordingmedia_1,.icons-lenses_type_3,.icons-lenses_type_2,.icons-lenses_type_1,.icons-lenses_maxaperture_3,.icons-lenses_maxaperture_2,.icons-lenses_maxaperture_1,.icons-lenses_imagestabilization_1,.icons-lenses_focusdistance_3,.icons-lenses_focusdistance_2,.icons-lenses_focusdistance_1,.icons-lenses_focallength_3,.icons-lenses_focallength_2,.icons-lenses_focallength_1,.icons-display_surfacetype_2,.icons-display_surfacetype_1,.icons-airconditioning_dimension_2,.icons-airconditioning_dimension_1,.icons-airconditioning_capacity_3,.icons-airconditioning_capacity_2,.icons-airconditioning_capacity_1,.icons-airconditioning_type_3,.icons-airconditioning_type_2,.icons-airconditioning_type_1,.icons-airconditioning_roomsize_3,.icons-airconditioning_roomsize_2,.icons-airconditioning_roomsize_1,.icons-airconditioning_dimension_3{font-family:"samsungUtilityIcons";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icons-untitled:before{content:"\f000"}
.icons-washer_doortype_1:before{content:"\21"}
.icons-washer_dimensions_3:before{content:"\22"}
.icons-washer_dimensions_2:before{content:"\23"}
.icons-washer_dimensions_1:before{content:"\24"}
.icons-washer_config_2:before{content:"\25"}
.icons-washer_config_1:before{content:"\26"}
.icons-washer_capacity_1-01:before{content:"\27"}
.icons-washer_waterconsumption_1-01:before{content:"\28"}
.icons-washer_ventless_2:before{content:"\29"}
.icons-washer_stackable_1:before{content:"\2a"}
.icons-washer_noise_3:before{content:"\2b"}
.icons-washer_noise_2:before{content:"\2c"}
.icons-washer_noise_1:before{content:"\2d"}
.icons-washer_energyconsumption_3:before{content:"\2e"}
.icons-washer_energyconsumption_2:before{content:"\2f"}
.icons-washer_energyconsumption_1:before{content:"\30"}
.icons-washer_doortype_2:before{content:"\31"}
.icons-vacuum_dustcapacity_3:before{content:"\32"}
.icons-vacuum_dustcapacity_2:before{content:"\33"}
.icons-vacuum_dustcapacity_1:before{content:"\34"}
.icons-vacuum_collectortype_1:before{content:"\35"}
.icons-vacuum_brushwidth_3:before{content:"\36"}
.icons-vacuum_brushwidth_2:before{content:"\37"}
.icons-vacuum_brushwidth_1:before{content:"\38"}
.icons-vacuum_type_4:before{content:"\39"}
.icons-vacuum_type_3:before{content:"\3a"}
.icons-vacuum_type_2:before{content:"\3b"}
.icons-vacuum_type_1:before{content:"\3c"}
.icons-vacuum_suctionpower_3:before{content:"\3d"}
.icons-vacuum_suctionpower_2:before{content:"\3e"}
.icons-vacuum_suctionpower_1:before{content:"\3f"}
.icons-vacuum_powersource_1:before{content:"\40"}
.icons-tv_memory_1-01:before{content:"\41"}
.icons-tv_display_pla:before{content:"\43"}
.icons-tv_display_led:before{content:"\44"}
.icons-tv_display_lcd:before{content:"\45"}
.icons-tv_dimensions_3:before{content:"\46"}
.icons-tv_dimensions_2:before{content:"\47"}
.icons-tv_dimensions_1:before{content:"\48"}
.icons-tv_3d_2:before{content:"\49"}
.icons-tv_3d_1:before{content:"\4a"}
.icons-tv_screensize_3:before{content:"\4b"}
.icons-tv_screensize_2:before{content:"\4c"}
.icons-tv_screensize_1:before{content:"\4d"}
.icons-tv_resolution_3:before{content:"\4e"}
.icons-tv_resolution_2:before{content:"\4f"}
.icons-tv_resolution_1:before{content:"\50"}
.icons-ovens_selfcleaning_1:before{content:"\51"}
.icons-ovens_numberofovens_1:before{content:"\52"}
.icons-oven_capacity_3:before{content:"\53"}
.icons-oven_capacity_2:before{content:"\54"}
.icons-oven_capacity_1:before{content:"\55"}
.icons-microwave_type_3:before{content:"\56"}
.icons-microwave_type_2:before{content:"\57"}
.icons-microwave_type_1:before{content:"\58"}
.icons-microwave_presets_1:before{content:"\59"}
.icons-microwave_power_3:before{content:"\5a"}
.icons-microwave_power_2:before{content:"\5b"}
.icons-microwave_power_1:before{content:"\5c"}
.icons-microwave_dimensions_3:before{content:"\5d"}
.icons-microwave_dimensions_2:before{content:"\5e"}
.icons-microwave_dimensions_1:before{content:"\5f"}
.icons-stoves_width_3:before{content:"\60"}
.icons-stoves_width_2:before{content:"\61"}
.icons-stoves_width_1:before{content:"\62"}
.icons-stoves_type_4:before{content:"\63"}
.icons-stoves_type_3:before{content:"\64"}
.icons-stoves_type_2:before{content:"\65"}
.icons-stoves_type_1:before{content:"\66"}
.icons-stoves_numberofburners_3:before{content:"\67"}
.icons-stoves_numberofburners_2:before{content:"\68"}
.icons-stoves_numberofburners_1:before{content:"\69"}
.icons-stoves_fueltype_3:before{content:"\6a"}
.icons-stoves_fueltype_2:before{content:"\6b"}
.icons-stoves_fueltype_1:before{content:"\6c"}
.icons-smartphone_screensize_small:before{content:"\6d"}
.icons-smartphone_screensize_medium:before{content:"\6e"}
.icons-smartphone_screensize_large:before{content:"\6f"}
.icons-numberofcameras_2:before{content:"\71"}
.icons-no:before{content:"\72"}
.icons-mp3_1:before{content:"\73"}
.icons-keyboard_1:before{content:"\74"}
.icons-energyefficiencyrating_4:before{content:"\75"}
.icons-energyefficiencyrating_3:before{content:"\76"}
.icons-energyefficiencyrating_2:before{content:"\77"}
.icons-energyefficiencyrating_1:before{content:"\78"}
.icons-cellular_1:before{content:"\79"}
.icons-batterylife_3:before{content:"\7a"}
.icons-batterylife_2:before{content:"\7b"}
.icons-batterylife_1:before{content:"\7c"}
.icons-yes:before{content:"\7d"}
.icons-wirelessconnectivity_3:before{content:"\7e"}
.icons-wirelessconnectivity_2:before{content:"\e000"}
.icons-wirelessconnectivity_1:before{content:"\e001"}
.icons-wifi_1:before{content:"\e002"}
.icons-weight_3:before{content:"\e003"}
.icons-weight_2:before{content:"\e004"}
.icons-weight_1:before{content:"\e005"}
.icons-touchscreen_1:before{content:"\e006"}
.icons-talktime_3:before{content:"\e007"}
.icons-talktime_2:before{content:"\e008"}
.icons-talktime_1:before{content:"\e009"}
.icons-tablets_screenres_3:before{content:"\e00a"}
.icons-tablets_screenres_2:before{content:"\e00b"}
.icons-tablets_screenres_1:before{content:"\e00c"}
.icons-storage_3:before{content:"\e00d"}
.icons-smartphones_camerares_3:before{content:"\e00e"}
.icons-smartphones_camerares_2:before{content:"\e00f"}
.icons-smartphones_camerares_1:before{content:"\e010"}
.icons-smartphone_windows:before{content:"\e011"}
.icons-smartphone_storage_3:before{content:"\e012"}
.icons-smartphone_storage_2:before{content:"\e013"}
.icons-smartphone_storage_1:before{content:"\e014"}
.icons-fridge_icedispenser_1:before{content:"\e015"}
.icons-fridge_capacity_3:before{content:"\e016"}
.icons-fridge_capacity_2:before{content:"\e017"}
.icons-fridge_capacity_1:before{content:"\e018"}
.icons-dishwasher_capacity_1:before{content:"\e019"}
.icons-fridge_width_3:before{content:"\e01a"}
.icons-fridge_width_2:before{content:"\e01b"}
.icons-fridge_width_1:before{content:"\e01c"}
.icons-fridge_waterdispenser_1:before{content:"\e01d"}
.icons-fridge_type_4:before{content:"\e01e"}
.icons-fridge_type_3:before{content:"\e01f"}
.icons-fridge_type_2:before{content:"\e020"}
.icons-fridge_type_1:before{content:"\e021"}
.icons-printer_dimensions_3:before{content:"\e022"}
.icons-printer_dimensions_2:before{content:"\e023"}
.icons-printer_dimensions_1:before{content:"\e024"}
.icons-printer_3:before{content:"\e025"}
.icons-printer_2:before{content:"\e026"}
.icons-printer_1:before{content:"\e027"}
.icons-all_promotions_1:before{content:"\e028"}
.icons-wifi_1-2:before{content:"\e029"}
.icons-printer_resolution_3:before{content:"\e02a"}
.icons-printer_resolution_2:before{content:"\e02b"}
.icons-printer_resolution_1:before{content:"\e02c"}
.icons-printer_papersize_3:before{content:"\e02d"}
.icons-printer_papersize_2:before{content:"\e02e"}
.icons-printer_papersize_1:before{content:"\e02f"}
.icons-he_subwoofer_1:before{content:"\e030"}
.icons-he_mediatype_3:before{content:"\e031"}
.icons-he_mediatype_2:before{content:"\e032"}
.icons-he_mediatype_1:before{content:"\e033"}
.icons-he_hdmi_1:before{content:"\e034"}
.icons-he_disccapacity_1:before{content:"\e035"}
.icons-he_dimensions_3:before{content:"\e036"}
.icons-he_dimensions_2:before{content:"\e037"}
.icons-he_dimensions_1:before{content:"\e038"}
.icons-he_deviceconnection_2:before{content:"\e039"}
.icons-he_deviceconnection_1:before{content:"\e03a"}
.icons-he_audiochannels_4:before{content:"\e03b"}
.icons-he_audiochannels_3:before{content:"\e03c"}
.icons-he_audiochannels_2:before{content:"\e03d"}
.icons-he_audiochannels_1:before{content:"\e03e"}
.icons-he_audio_3:before{content:"\e03f"}
.icons-he_audio_2:before{content:"\e040"}
.icons-he_audio_1:before{content:"\e041"}
.icons-wireless_subwoofer_1:before{content:"\e042"}
.icons-wireless_streaming_1:before{content:"\e043"}
.icons-wireless_powerbass_1:before{content:"\e044"}
.icons-wireless_portable_1:before{content:"\e045"}
.icons-wireless_dock_2:before{content:"\e046"}
.icons-wireless_dock_1:before{content:"\e047"}
.icons-wireless_dimensions_3:before{content:"\e048"}
.icons-wireless_dimensions_2:before{content:"\e049"}
.icons-wireless_dimensions_1:before{content:"\e04a"}
.icons-mp3_radio_1:before{content:"\e04b"}
.icons-mp3_playbacktime_3:before{content:"\e04c"}
.icons-mp3_playbacktime_2:before{content:"\e04d"}
.icons-mp3_playbacktime_1:before{content:"\e04e"}
.icons-mp3_camera_1:before{content:"\e04f"}
.icons-he_subwoofer_3:before{content:"\e050"}
.icons-he_subwoofer_2:before{content:"\e051"}
.icons-comp_processor_1:before{content:"\e052"}
.icons-comp_processor_3:before{content:"\e053"}
.icons-comp_processor_2:before{content:"\e054"}
.icons-camera_zoom_3:before{content:"\e055"}
.icons-camera_zoom_2:before{content:"\e056"}
.icons-camera_zoom_1:before{content:"\e057"}
.icons-camera_type_3:before{content:"\e058"}
.icons-camera_type_2:before{content:"\e059"}
.icons-camera_type_1:before{content:"\e05a"}
.icons-camera_ios_3:before{content:"\e05b"}
.icons-camera_ios_2:before{content:"\e05c"}
.icons-camera_ios_1svg:before{content:"\e05d"}
.icons-camera_imagesensor_3:before{content:"\e05e"}
.icons-camera_imagesensor_2:before{content:"\e05f"}
.icons-camera_imagesensor_1:before{content:"\e060"}
.icons-camcorder_videoquality_2:before{content:"\e061"}
.icons-camcorder_videoquality_1:before{content:"\e062"}
.icons-camcorder_type_4:before{content:"\e063"}
.icons-camcorder_type_3:before{content:"\e064"}
.icons-camcorder_type_2:before{content:"\e065"}
.icons-camcorder_type_1:before{content:"\e066"}
.icons-camcorder_recordingmedia_4:before{content:"\e067"}
.icons-camcorder_recordingmedia_3:before{content:"\e068"}
.icons-camcorder_recordingmedia_2:before{content:"\e069"}
.icons-camcorder_recordingmedia_1:before{content:"\e06a"}
.icons-lenses_type_3:before{content:"\e06b"}
.icons-lenses_type_2:before{content:"\e06c"}
.icons-lenses_type_1:before{content:"\e06d"}
.icons-lenses_maxaperture_3:before{content:"\e06e"}
.icons-lenses_maxaperture_2:before{content:"\e06f"}
.icons-lenses_maxaperture_1:before{content:"\e070"}
.icons-lenses_imagestabilization_1:before{content:"\e071"}
.icons-lenses_focusdistance_3:before{content:"\e072"}
.icons-lenses_focusdistance_2:before{content:"\e073"}
.icons-lenses_focusdistance_1:before{content:"\e074"}
.icons-lenses_focallength_3:before{content:"\e075"}
.icons-lenses_focallength_2:before{content:"\e076"}
.icons-lenses_focallength_1:before{content:"\e077"}
.icons-display_surfacetype_2:before{content:"\e078"}
.icons-display_surfacetype_1:before{content:"\e079"}
.icons-airconditioning_dimension_2:before{content:"\e07a"}
.icons-airconditioning_dimension_1:before{content:"\e07b"}
.icons-airconditioning_capacity_3:before{content:"\e07c"}
.icons-airconditioning_capacity_2:before{content:"\e07d"}
.icons-airconditioning_capacity_1:before{content:"\e07e"}
.icons-airconditioning_type_3:before{content:"\e07f"}
.icons-airconditioning_type_2:before{content:"\e080"}
.icons-airconditioning_type_1:before{content:"\e081"}
.icons-airconditioning_roomsize_3:before{content:"\e082"}
.icons-airconditioning_roomsize_2:before{content:"\e083"}
.icons-airconditioning_roomsize_1:before{content:"\e084"}
.icons-airconditioning_dimension_3:before{content:"\e085"}
.icons-tv_internet_1{display:inline-block;width:52px;height:70px;vertical-align:middle;background:url(/common/next/img/pdp-wow/OLED/specs/smart-tv.png) no-repeat 0 0}
.icons-tv_internet_1{background-size:52px 70px}
@media (max-width: 48em) {.icons-tv_internet_1{width:32px;height:40px;background-size:32px 40px} }